torch
torchvision
torchaudio
numpy
einops
transformers
tokenizers
spconv-cu124
trimesh
timm
pillow
safetensors
scipy
scikit-learn
seaborn
matplotlib
addict
tqdm
pyyaml
ninja
tensorboard
wandb
psutil
huggingface-hub
filelock
ipdb
deepspeed
omegaconf
